openapi: 3.0.3
info:
  title: AGL Infrastructure Admin Platform API
  description: |
    ## Comprehensive API for Managing Infrastructure, AI Orchestration, and Automation Workflows

    The AGL Infrastructure Admin Platform API provides a comprehensive RESTful interface for managing:
    - **Infrastructure**: Proxmox servers, containers, VMs, and networking
    - **AI Orchestration**: Multiple AI models, multi-agent workflows, and predictive analytics
    - **Automation**: N8N workflows, deployment pipelines, and CI/CD integration
    - **Monitoring**: Real-time metrics, alerts, and health monitoring
    - **Security**: RBAC, API keys, and audit logging
    - **Integrations**: Harbor registry, Dokploy deployment, GitHub webhooks

    ### Authentication

    This API uses multiple authentication methods:
    - **Bearer Token**: JWT tokens via Laravel Sanctum
    - **API Key**: X-API-Key header for service accounts
    - **OAuth 2.0**: WorkOS SSO integration

    ### Rate Limiting

    All API endpoints are rate-limited:
    - Authenticated requests: 1000 requests/hour
    - Webhook endpoints: 60 requests/minute
    - Public endpoints: 100 requests/hour

    ### Versioning

    Current API version: **v1.0.0**

    API version is included in response headers: `X-API-Version: 1.0.0`

  version: 1.0.0
  termsOfService: https://agl.com/terms
  contact:
    name: AGL Infrastructure Team
    email: api@agl.com
    url: https://agl.com/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.agl.com/api
    description: Production API
  - url: https://api-staging.agl.com/api
    description: Staging API
  - url: http://localhost:8000/api
    description: Local Development

tags:
  - name: Authentication
    description: User authentication and authorization endpoints
  - name: Infrastructure
    description: Infrastructure monitoring and management
  - name: AI Models
    description: AI model orchestration and execution
  - name: N8N Workflows
    description: N8N workflow automation and management
  - name: Scrum
    description: Agile project management and Scrum board
  - name: Containers
    description: Container and VM lifecycle management
  - name: Backups
    description: Backup creation and restoration
  - name: Harbor
    description: Harbor container registry integration
  - name: Dokploy
    description: Dokploy deployment automation
  - name: Alerts
    description: Alert management and rules
  - name: Network
    description: Network topology and monitoring
  - name: Webhooks
    description: Incoming webhook handlers
  - name: Deployment
    description: Application deployment management
  - name: Promotion
    description: Environment promotion workflows
  - name: Build Metrics
    description: Build and CI/CD metrics
  - name: Notifications
    description: Notification channels and rules
  - name: Monitoring
    description: Real-time monitoring and metrics
  - name: RBAC
    description: Role-based access control
  - name: AgentOS
    description: Agent OS v3 coordination and neural features

security:
  - bearerAuth: []
  - apiKey: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Authorization header using the Bearer scheme. Example: `Authorization: Bearer {token}`
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API Key for service account authentication. Example: `X-API-Key: {your_api_key}`

  schemas:
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Resource not found
        errors:
          type: object
          description: Validation errors by field
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
              - The email field is required.
            password:
              - The password must be at least 8 characters.
        code:
          type: integer
          description: HTTP status code
          example: 404
        debug:
          type: object
          description: Debug information (only in development)
          additionalProperties: true

    Success:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Operation completed successfully
        data:
          type: object
          description: Response data

    Pagination:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 15
        total:
          type: integer
          example: 100
        last_page:
          type: integer
          example: 7
        from:
          type: integer
          example: 1
        to:
          type: integer
          example: 15

    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: John Doe
        email:
          type: string
          format: email
          example: john.doe@agl.com
        roles:
          type: array
          items:
            type: string
          example: ["admin"]
        permissions:
          type: array
          items:
            type: string
          example: ["infrastructure.view", "infrastructure.manage"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Server:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: AGLSRV1
        code:
          type: string
          example: srv-01
        status:
          type: string
          enum: [online, offline, maintenance]
          example: online
        ip_address:
          type: string
          format: ipv4
          example: 192.168.1.10
        cpu_usage:
          type: number
          format: float
          example: 45.2
        memory_usage:
          type: number
          format: float
          example: 62.8
        disk_usage:
          type: number
          format: float
          example: 78.5
        containers:
          type: integer
          example: 12
        vms:
          type: integer
          example: 3

    Container:
      type: object
      properties:
        vmid:
          type: integer
          example: 101
        name:
          type: string
          example: web-app-01
        type:
          type: string
          enum: [lxc, qemu]
          example: lxc
        status:
          type: string
          enum: [running, stopped, creating]
          example: running
        cpu:
          type: number
          example: 2
        memory:
          type: integer
          example: 4096
        disk:
          type: integer
          example: 50
        node:
          type: string
          example: AGLSRV1

    Alert:
      type: object
      properties:
        id:
          type: integer
          example: 1
        severity:
          type: string
          enum: [critical, warning, info]
          example: warning
        title:
          type: string
          example: High CPU Usage
        description:
          type: string
          example: CPU usage exceeds 80% threshold
        source:
          type: string
          example: AGLSRV1
        status:
          type: string
          enum: [active, acknowledged, resolved, muted]
          example: active
        created_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
          nullable: true

    Deployment:
      type: object
      properties:
        id:
          type: integer
          example: 1
        application_id:
          type: string
          example: app-123
        environment:
          type: string
          enum: [qa, uat, production]
          example: qa
        status:
          type: string
          enum: [pending, deploying, success, failed, rolling_back]
          example: deploying
        commit_sha:
          type: string
          example: abc123def456
        branch:
          type: string
          example: develop
        triggered_by:
          type: string
          example: john.doe@agl.com
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true

    N8NWorkflow:
      type: object
      properties:
        id:
          type: string
          example: workflow-123
        name:
          type: string
          example: Monitor Infrastructure
        active:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        nodes:
          type: array
          items:
            type: object
        connections:
          type: object

  parameters:
    IdParameter:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Resource ID
      example: 1

    ServerCodeParameter:
      name: serverCode
      in: path
      required: true
      schema:
        type: string
      description: Server code identifier
      example: srv-01

    PageParameter:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Page number for pagination

    PerPageParameter:
      name: per_page
      in: query
      schema:
        type: integer
        default: 15
        minimum: 1
        maximum: 100
      description: Number of items per page

    SearchParameter:
      name: search
      in: query
      schema:
        type: string
      description: Search query

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Resource not found
            code: 404

    Unauthorized:
      description: Unauthorized access
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Unauthenticated
            code: 401

    Forbidden:
      description: Access forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: This action is unauthorized
            code: 403

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: The given data was invalid
            errors:
              email:
                - The email field is required
            code: 422

    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Internal server error
            code: 500

paths:
  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: Authenticate user credentials and return JWT token
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: admin@agl.com
                password:
                  type: string
                  format: password
                  example: password123
                remember:
                  type: boolean
                  example: true
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    example: 3600
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: User logout
      description: Revoke current access token
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successfully logged out
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/me:
    get:
      tags: [Authentication]
      summary: Get current user
      description: Get authenticated user details with roles and permissions
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /infrastructure/status:
    get:
      tags: [Infrastructure]
      summary: Get infrastructure status
      description: Get current status of all infrastructure components including servers, containers, and VMs
      operationId: getInfrastructureStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Infrastructure status
          content:
            application/json:
              schema:
                type: object
                properties:
                  servers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Server'
                  summary:
                    type: object
                    properties:
                      total_servers:
                        type: integer
                        example: 6
                      online_servers:
                        type: integer
                        example: 5
                      total_containers:
                        type: integer
                        example: 68
                      total_vms:
                        type: integer
                        example: 15
                      health_score:
                        type: number
                        format: float
                        example: 92.5
        '401':
          $ref: '#/components/responses/Unauthorized'

  /infrastructure/analytics:
    get:
      tags: [Infrastructure]
      summary: Get infrastructure analytics
      description: Retrieve detailed analytics and metrics for infrastructure components
      operationId: getInfrastructureAnalytics
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParameter'
        - $ref: '#/components/parameters/PerPageParameter'
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        cpu_usage:
                          type: number
                        memory_usage:
                          type: number
                        disk_usage:
                          type: number
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /infrastructure/monitor:
    post:
      tags: [Infrastructure]
      summary: Trigger infrastructure monitoring
      description: Manually trigger monitoring refresh for all infrastructure
      operationId: triggerInfrastructureMonitoring
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Monitoring triggered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'

  /ai-service/predict:
    post:
      tags: [AI Models]
      summary: AI prediction
      description: Make predictions using AI models
      operationId: aiPredict
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - input
              properties:
                model:
                  type: string
                  enum: [openai, claude, ollama]
                  example: openai
                input:
                  type: string
                  example: Predict server load for next 24 hours
      responses:
        '200':
          description: Prediction result
          content:
            application/json:
              schema:
                type: object
                properties:
                  prediction:
                    type: object
                  confidence:
                    type: number
                    example: 0.92

  /n8n/workflows:
    get:
      tags: [N8N Workflows]
      summary: List N8N workflows
      description: Get all N8N workflows
      operationId: listN8NWorkflows
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/N8NWorkflow'

  /n8n/trigger/{workflow}:
    post:
      tags: [N8N Workflows]
      summary: Trigger N8N workflow
      description: Execute a specific N8N workflow
      operationId: triggerN8NWorkflow
      security:
        - bearerAuth: []
      parameters:
        - name: workflow
          in: path
          required: true
          schema:
            type: string
          description: Workflow ID or name
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  description: Input data for workflow
      responses:
        '200':
          description: Workflow triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  execution_id:
                    type: string
                  status:
                    type: string
                    example: running

  /containers/create:
    post:
      tags: [Containers]
      summary: Create container
      description: Create a new container or VM
      operationId: createContainer
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
                - node
              properties:
                name:
                  type: string
                  example: web-app-02
                type:
                  type: string
                  enum: [lxc, qemu]
                  example: lxc
                node:
                  type: string
                  example: AGLSRV1
                template:
                  type: string
                  example: ubuntu-22.04
                cpu:
                  type: integer
                  example: 2
                memory:
                  type: integer
                  example: 4096
                disk:
                  type: integer
                  example: 50
      responses:
        '201':
          description: Container created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Container'

  /backups:
    get:
      tags: [Backups]
      summary: List backups
      description: Get all backups
      operationId: listBackups
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of backups
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        type:
                          type: string
                        size:
                          type: integer
                        created_at:
                          type: string
                          format: date-time

  /monitoring/metrics:
    get:
      tags: [Monitoring]
      summary: Get monitoring metrics
      description: Retrieve real-time monitoring metrics
      operationId: getMonitoringMetrics
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [1h, 6h, 24h, 7d, 30d]
            default: 24h
      responses:
        '200':
          description: Metrics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  cpu:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                        value:
                          type: number
                  memory:
                    type: array
                  disk:
                    type: array

  /alerts/active:
    get:
      tags: [Alerts]
      summary: Get active alerts
      description: Get all active alerts
      operationId: getActiveAlerts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of active alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alert'

  /alerts/{id}/acknowledge:
    post:
      tags: [Alerts]
      summary: Acknowledge alert
      description: Mark an alert as acknowledged
      operationId: acknowledgeAlert
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParameter'
      responses:
        '200':
          description: Alert acknowledged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'

  /roles:
    get:
      tags: [RBAC]
      summary: List roles
      description: Get all roles
      operationId: listRoles
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        permissions:
                          type: array
                          items:
                            type: string

  /permissions:
    get:
      tags: [RBAC]
      summary: List permissions
      description: Get all permissions grouped by module
      operationId: listPermissions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
